body {
  font-size: 24px; /*¦r«¬¤j¤p */
  margin-left: 10px;
}
ul {
  margin-left: 0em;
  padding-left: 0px;
  border-left: 0px;
  text-indent: 0px;
}
li{
  line-height: 120%;
  margin:3mm;
}
.nothing1 { 
  color: #FF0000; 
  font-family:arial; 
  font-size: 24px; 
}
.test { 
  position: fixed;
  bottom: 10px;
  right: 10px;
}
